.ctnAverageDuration {
    width: 30%;
    background-color: #FF0000;
    border-radius: 5px;
    height: 30vh;
}
.ctnAverageDuration h3 {
    font-size: 15px;
    font-weight: 500;
    color: white;
    opacity: 0.5;
    width: 60%;
    padding:30px;
    margin: 0;
    position: absolute;
}
